$font: "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", sans-serif;
$brand: #6D1985;

body {
  margin: 0px;
  font-family: $font;
  background-color: $brand;
}

.header {
  position: fixed;
  width: 100%;
  padding: 0.8em 0em 1.6em 0em;
  background: linear-gradient(to bottom, rgba(109,25,133,1) 0%,rgba(109,25,133,0) 100%); /* W3C */
  color: #fff;
  text-align: center;
  z-index: 999;

  h1 {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
  }

  .nav-button {
    position: absolute;
    color: white;
    font-size: 18px;

    a {
      text-decoration: none;
      color: white;
    }

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }
  }
}

.friends {
  margin: 0px 16px 0px 16px;
  padding: 0px;
  position: static;
  li {
    margin: 0px 0px 20px 0px;
    list-style-type: none;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.container {
  font-size: 18px;
  padding: 3.2em 0em 0em 0em;
  color: white;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

.description {
  margin-top: 500px;
}

form {
  width: 300px;
  margin: 0px auto;
  margin-top: 40px;
}

ul {
  position: absolute;
  width: 80%;
  padding: 0px;
  margin-top: 30px;
  left: 50%;
  margin-left: -40%;
}

.photo {
  position: absolute;
  cursor: default;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline-block;
  background-color: red;
  border-radius: 10px;
  border: 5px solid white;
  box-sizing: border-box;

  .transition {
    transition: transform 0.2s ease;
  }

  &:nth-last-child(0) {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }

  &:nth-last-child(1) {
    transform: translate(0px, 2px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }

  &:nth-last-child(2) {
    transform: translate(0px, 4px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }

  &:nth-last-child(3) {
    transform: translate(0px, 6px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }
  img {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
}

.uglie {
  width: 41%;
  background-color: #fff;
  margin: 0% 0% 6% 6%;
  border-radius: 6px;
  padding: 4px 8px;
  float: left;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);

  h2 {
    color: rgba(98, 23, 162, 1);
    margin: 4px 0px 8px 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: 700;
  }

  img {
    width: 100%;
    margin-bottom: 4px;
  }
}

.camera {
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  bottom: 20px;
  background-color: white;
  border-radius: 25px;
  font-size: 40px;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
  img {
    position: relative;
    top: 12px;
    width: 30px;
  }
}

.card {
  width: 90%;
  margin: 0px auto;
  padding: 8px 12px;
  box-sizing: border-box;
  background: #fff;
  color: $brand;
  border-radius: 6px;

  img {
    width: 100%;
  }

  h2 {
    margin: 0px 0px 8px 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
  }
  
  p {
    margin: 10px 0px 0px 0px;
    padding: 0px;
  }
}

.buttons {
  width: 90%;
  margin: 0px auto;
  
  .button {
    margin-top: 14px;
    background-color: #9450A7;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    float: left;

    &.like {
      width: 48%;
      margin-right: 4%;
    }

    &.trade {
      width: 48%;
    }
  }
}

.form-add {
  width: 90%;
  margin: 0px auto;
  padding: 8px 12px;
  box-sizing: border-box;
  background: #fff;
  color: $brand;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

  .uglie-name {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    font-family: $font;
    font-size: 22px;
    color: $brand;
    font-weight: 600;
  }

  #file-upload {
    width: 100%;
    height: 400px;
    -webkit-appearance: none;
    border: 0px;
    background: #E9E3F2;
    font-family: $font;
    color: $brand;
    font-size: 18px;
    font-weight: 600;
  }

  #submit {
    width: 100%;
    -webkit-appearance: none;
    border: 0px;
    margin: 10px 0px 4px 0px;
    padding: 10px;
    color: white;
    font-family: $font;
    font-weight: 600;
    font-size: 16px;
    background: $brand;
    border-radius: 3px;
  }
}
