<div class="header">
  <h1>{{title}}</h1>
</div>
<div class="container">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" class="photo-upload" name="photo" accept="image/*" capture="camera">
    <br/>
    <input type="submit" value="Upload Image" name="submit">
  </form>
</div>
