<div class="header">
  <h1>Login</h1>
</div>
<div class="container">
  <form id="user" action="/login" method="post">
    <input type="text" name="username" placeholder="Username"><br/>
    <input type="password" name="password" placeholder="Password"><br/>
    <input id="submit" type="submit" value="Login" name="submit">
  </form>
    <a class="signup-link" href="/signup">Sign up here</a>
</div>
